*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
body,html{
	width:100%;
	height:100%;
}

.parent{
	position:relative;
}

#butt{
	cursor:pointer;
}

.btn {
    height: 24px;
    width: 24px;
    position: absolute;
    background:url(./pic/btn.png) ;
    top: 7px;
    left: 289px;
    border: none;
    outline: none;
    cursor: pointer;
}

.site-header{
	width:100%;
	height:60px;
	font-size:20px;
	background-color:white;
	position:fixed;
	z-index:100;
}

.site-header .site-pic{
	float:left;
	width:200px;
	height:60px;
	margin-left:20px;
	text-align:center;
}

.site-header .site-pic .img{
	width:170px;
	height:35px;	
	padding-top:9px;
}

.site-header .site-search{
	margin-left:20px;
	width:500px;
	height:40px;
	margin-top:10px;
	float:left;
}

.site-header .header-zi{
	height:40px;
	word-spacing:50px;
	margin-top:10px;
	float:right;
	font-size:16px;
	margin-right:5%;
}
.site-header .header-zi ul li{
	float:left;
	margin-right:50px;
	margin-top:3px;
	width:70px;
	height:35px;
	text-align:center;
}

.dropbtn{
	display:inline-block;
}

.login{
	display:inline-block;
}

.loginitem {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 120px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.loginitem a {
display: block;
color: black;
text-decoration:none;
}

.site-header .header-zi .login .loginitem{
	position: absolute;
	width: 8%;
	height: 120px;
	background-color: white;
	display:none;
}
.site-header .header-zi .login .loginitem p{
	font-size:15px;
	word-spacing:0px;
	text-align:center;
}


.site-header .header-zi .login .loginitem p:hover{
	background-color: #f0f0f0;
}

.site-header .header-zi a{
	line-height:40px;
	color:black;
}
.site-header .header-zi li:hover{
	background-color: #f0f0f0;
}
.site-header .header-client{
	float:right;
	height:40px;
	width:150px;
	margin-top:10px;
	margin-right:20px;
	line-height:40px;
}

.container{
	position:relative;
}

.index{
	width:100%;
	height:820px;
	background-image:url(./pic/background.jpg);
	background-size:100% 100%;
	background-repeat:none;
	position:sticky;
	top:70px;
	background-size:cover;
	margin-bottom:70px;
}

.none{
	height:820px;	
  	width:100%;	  
 	background:rgba(0,0,0,.2);
}

.index .zi{
	position:absolute;
	top:150px;
	width:620px;
	height:200px;
	text-align:center;
	color:white;
	padding-top:120px;
	margin-left:30%;
	font-size:22px;
}

.Oracle{
	width:100%;
	height:820px;
	background:url(./2.jpeg);
	background-size:cover;
	position:sticky;
	top:40px;
	margin-bottom:20px;
}

.Oracle .oracle-zi{
	width:570px;
	height:310px;	
	line-height:30px;
	padding-top:380px;
	margin-left:55%;
	font-size:22px;
	color:white;
}

.MT-what{
	width:100%;
	height:820px;
	background:url(./1.jpg);
	background-size:cover;
	position:sticky;
	top:40px;
}

.MT-what .mt-what-zi{
	width:700px;
	height:310px;	
	line-height:30px;
	padding-top:270px;
	margin-right:80px;
	margin-left:28%;
	font-size:22px;
	text-align:center;
	color:white;
}

.MR-what{
	width:100%;
	height:820px;
	background:url(./2.jpg);
	background-size:cover;
	position:sticky;
	top:40px;
	margin-bottom:190px;
}

.MR-what .mr-what-zi{
	width:800px;
	height:310px;	
	line-height:30px;
	margin-left:80px;
	padding-top:160px;
	font-size:22px;
	color:white;
}

.part{
	width:1115px;
	height:400px;
	margin:0 auto;
}

.part .title{
	width:1115px;
	height:30px;

}

.part .title .left{
	font-size:22px;
	float:left;	
}

.part .title .right{
	float:right;	
	margin-right:80px;
	line-height:30px;
}

.part .number{
	width:200px;
	height:150px;
	margin-left:80px;
	float:left;
}

.part .number .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .number .zi{
	text-align:center;
	margin-top:15px;	
}

.part .machine{
	width:200px;
	height:150px;
	margin-left:50px;
	float:left;
}

.part .machine .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .machine .zi{
	text-align:center;
	margin-top:15px;	
}

.part .algorithm{
	width:200px;
	height:150px;
	margin-left:50px;
	float:left;
}

.part .algorithm .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .algorithm .zi{
	text-align:center;
	margin-top:15px;	
}

.part .geometry{
	width:200px;
	height:150px;
	margin-left:50px;
	float:left;
}

.part .geometry .img{
	margin-top:20px;
	margin-left:40px;	
}

.part .geometry .zi{
	text-align:center;
	margin-top:15px;	
}

.part .opt{
	width:200px;
	height:150px;
	margin-left:80px;
	margin-top:20px;
	float:left;
}

.part .opt .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .opt .zi{
	text-align:center;
	margin-top:15px;	
}

.part .calculus{
	width:200px;
	height:150px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}

.part .calculus .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .calculus .zi{
	text-align:center;
	margin-top:15px;	
}

.part .bio{
	width:200px;
	height:150px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}

.part .bio .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .bio .zi{
	text-align:center;
	margin-top:15px;	
}

.part .graph{
	width:200px;
	height:150px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}

.part .graph .img{
	margin-top:20px;
	margin-left:60px;	
}

.part .graph .zi{
	text-align:center;
	margin-top:15px;	
}

.part .all{
	width:95%;
	height:20px;
	float:left;
	font-size:16px;
	margin-top:20px;
}

.ref{
	float:right;
	margin-right:20px;
}

.footer{
	width:100%;
	height:100px;
}

.footer .left{
	float:left;
	font-size:12px;
	word-spacing:10px;
	line-height:100px;
	font-color:gray;
}

.footer .right{
	float:right;
	word-spacing:10px;
	font-size:12px;
	line-height:100px;
	font-color:gray;
}
